@tailwind base;
@tailwind components;
@tailwind utilities;
.box {
    background: url('../public/background.png') no-repeat ;
    background-size: cover; /* Rasmni to'liq qoplash */
    width: 100%;
  }
  